.header {
  padding: 1% 4%;
  background-color: #001d58;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr minmax(1fr, 400px) minmax(50px, 1fr) 2fr 1fr;
  grid-template-areas: "logo-name directory space signin-details dots";
  column-gap: 25px;
  height: 60px;
  align-items: center;
}
.header__logo-name {
  display: flex;
  align-items: center;
  grid-area: logo-name;
}
.header__section-title,
.header__section-subtitle {
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  margin-left: 10px;
}
.header__directory {
  justify-self: center;
  display: flex;
  align-items: center;
  background-color: #052a74;
  border-radius: 5px;
  padding: 10px;
  grid-area: directory;
}

.signin-details {
  grid-area: signin-details;
  justify-self: end;
}

.signin__email,
.signin__role {
  margin: 0;
  color: #fff;
  text-align: right;
  font-size: 10px;
  line-height: 12px;
}
.signin__role {
  font-weight: 600;
}

.three-dots {
  grid-area: dots;
  justify-self: end;
}
