.forgot-page .section-title {
  font-size: 7.5px;
  line-height: 9px;
  margin-bottom: 20px;
  color: #003296;
  padding-top: 5px;
}

.forgot-page .section-subtitle {
  font-weight: normal;
  background-color: #f4f8ff;
  border-radius: 5px;
  margin-bottom: 86px;
  padding: 12px 20px 11px;
}

.forgot__btn {
  width: 100%;
  margin-bottom: 24px;
}

.forgot__login-link {
  align-self: center;
  text-decoration: none;
}